body {
  background: black;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 2rem;
  text-align: center;
  margin: 0;
}

.parallax {
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.split {
  height: 50vh;
  display: flex;
  align-items: center;
}

.message {
  padding: 2rem;
  align-items: center;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

@media (prefers-reduced-motion: reduce) {
  .parallax {
    background-attachment: scroll;
  }
}

@media (max-width: 600px) {
  body {
    font-size: 1.2rem;
  }
}
