CompileFlags:
   Add: [-Wall, -Wextra, -Werror, --std=c++98, -pedantic-errors, --language=c++]
   Compiler: c++

Diagnostics:
   ClangTidy:
     Add:
       [
         "bugprone-*",
         "clang-analyzer-*",
         "cppcoreguidelines-*",
         "misc-*",
         "performance-*",
         "readability-*",
       ]
     Remove: [cppcoreguidelines-avoid-magic-numbers,
              readability-identifier-length,
              readability-braces-around-statements,
              cppcoreguidelines-pro-bounds-pointer-arithmetic,
              bugprone-easily-swappable-parameters,
              misc-use-anonymous-namespace]
     FastCheckFilter: None
   MissingIncludes: Strict

InlayHints:
   BlockEnd: No
   Designators: Yes
   Enabled: Yes
   ParameterNames: Yes
   DeducedTypes: Yes
