CompileFlags:
  Add: [-Wall, -Wextra, -Werror, --std=c++98, -pedantic-errors]
  Compiler: c++

Diagnostics:
  ClangTidy:
    Add:
      [
        "bugprone-*",
        "clang-analyzer-*",
        "cppcoreguidelines-*",
        "misc-*",
        "performance-*",
        "readability-*",
      ]
    Remove: [readability-identifier-length,
            readability-braces-around-statements,
            cppcoreguidelines-pro-bounds-pointer-arithmetic,
            cppcoreguidelines-avoid-magic-numbers,
            readability-magic-numbers,
            bugprone-easily-swappable-parameters]
    FastCheckFilter: None
  MissingIncludes: Strict

InlayHints:
  BlockEnd: No
  Designators: Yes
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes